
@{
    ViewBag.Title = "CalendarView";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}

<h2>CalendarView</h2>
<head>
    <body>
        <div class="content-wrapper" style="font-weight:100;font-family: 'Roboto', sans-serif;">
            <div class="col-sm-12" style="background-color:darkgray;height:40px;">
                <p style="font-size:larger;padding-top:0.5%">Calendar Events</p>
            </div>
            <div class="col-sm-12">
                <iframe src="https://teamup.com/ksh6vmj2hqbt82ziqs" frameborder="0" width="100%" height="500px"></iframe>
            </div>
        </div>
    </body>
</head>

