@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="top-content">
            <div class="container dad">
                <div class="son-1">
                    <img src="~/assets/img/backgrounds/about2.jpg">
                </div>
                <p class="abouttitle col-sm-3"><br><br>About Us</p>
            </div>
            <div class="container-fluid" style="margin-top:5%">
                <!--<div class="container-fluid"></div>-->
                <p class="text1">
                    Avent ITS is a global niche ICT technology services and product company
                    with a unique combination of expertise &amp; experience to solve  business challenges
                    and provide consistent quality deliverables. Avent ITS people, premises &amp; processes are
                    chosen to make the right mix for our customer's needs!
                </p>
                <div class="divider-2"><span></span></div>
                <p class="abtFont">
                    Our Journey
                </p>
                <div class="divider-2"><span></span></div>
            </div>

            <div class="container-fluid">
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="~/assets/img/portfolio/2014.jpg">
                        <p class="card-block-year">
                            2014
                        </p>
                        <p class="card-block">
                            Registered AventITS and began establishment of an R&amp;D team for our US Partner in Hyderabad, India.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="~/assets/img/portfolio/2015.jpg">
                        <p class="card-block-year">
                            2015
                        </p>
                        <p class="card-block">
                            Started the company with a select R&amp;D team in Madhapur.
                            Expanded team size to double, with good product development,
                            quality and timely deliveries to our client.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="~/assets/img/portfolio/2016.jpg">
                        <p class="card-block-year">
                            2016
                        </p>
                        <p class="card-block">
                            Moved to an upscale, professional work place, with capacity to accommodate
                            over 50 employees, and expanded the team to further double in size over previous year.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="~/assets/img/portfolio/2017.jpg">
                        <p class="card-block-year">
                            2017
                        </p>
                        <p class="card-block">
                            Created vision, mission and values statements, created quality journey road map and created
                            company road map for next five years, with business and technology journey plans.
                        </p>
                    </div>
                </div>
                <br>
                <div class="divider-2"><span></span></div>
                <p class="abtFont">
                    Thought Leader
                </p>
                <p class="thoughtFont col-lg-12">
                    Christina Malayil—CEO, CTO and Product Architect: Ms. Malayil has been with ICT industry
                    for more than 13 years in product development and life cycle handling. She has an excellent academic
                    record in Computer Science Engineering (India) and Masters in Computer Science (US). Ms. Malayil held
                    critical and senior positions in ICT industry in the United States and throughout her career has brought
                    discipline, quality and professional values along with her deep technical knowledge in .NETand Java
                    platforms. She has built vast domain knowledge in travel portals, government sector areas oftaxation,
                    revenue and compliance. Avent's first client, Revenue Solutions, Inc., has chosen Ms. Malayil, CTO for
                    Avent, for ICT product development to global standards. Ms. Malayil  enjoys reading, writing, helping
                    teams to learn, and is an avid tech biz content browser!
                </p>
            </div>
            <br>
            <div class="divider-2"><span></span></div>
            <footer>
                <div class="">
                    <br>
                    <div class="copyRights">
                        <a class="col-sm-3"> Copyright © 2017 Avent IT Solutions Pvt.Ltd. </a>
                    </div>
                    <div class="buttonlinks">
                        <!--<a class="col-sm-3"> Copyright &copy; 2017 Avent IT Solutions Pvt.Ltd. </a>-->
                        <div class="col-sm-6">
                            <a class="buttonlinks" href="Disclaimer.php">Disclaimer </a><a class="copyRights">|</a>
                            <a class="buttonlinks" href="Equal Opportunity.php">Equal Opportunity </a><a class="copyRights">|</a>
                            <a class="buttonlinks" href="Non-Solicitation.php">Non-Solicitation </a><a class="copyRights">|</a>
                            <a class="buttonlinks" href="Privacy Statement.php">Privacy Statement </a><a class="copyRights">|</a>
                            <a class="buttonlinks" href="Terms of Use.php">Terms of Use </a>
                        </div>
                        <a style="font-size:24px" href="https://www.facebook.com/aventits/"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
                        <a style="font-size:24px" href="https://www.linkedin.com/company/avent-it-solutions-pvt.-ltd."><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;
                    </div>
                </div>
            </footer>


            <!-- Javascript -->
            <script src="~/assets/js/jquery-1.11.1.min.js"></script>
            <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="~/assets/js/wow.min.js"></script>
            <script src="~/assets/js/retina-1.1.0.min.js"></script>
            <script src="~/assets/js/waypoints.min.js"></script>
            <script src="~/assets/js/scripts.js"></script>


            <style>

            </style>
        </div>
    </div>
</body>
</html>
