
@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}

<html>
<body>
    @*<div class="top">
        <a href="#" class=""><img src="~/assets/ico/top.png" onclick="topFunction()" title="Top" id="myBtn" alt="" data-at2x="~/assets/ico/top.png"></a>
    </div>*@
    <!--Page content starts here-->
    <!-- Top content -->
    <div class="top-content">


        <div class="container dad">
            <div class="son-1">
                <img src="~/assets/img/backgrounds/careers.jpg">
            </div>
            <p class="son-text"><br /><br />Careers</p>
        </div>

        <div class="container1">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Job Openings</h3>
                            <div class="pull-right">
                                <span class="clickable filter" data-toggle="tooltip" title="Toggle Jobs filter" data-container="body">
                                    <i class="glyphicon glyphicon-filter"></i>
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Jobs" />
                        </div>
                        <div style="overflow-x:auto;">
                            <table class="table table-hover" id="dev-table">
                                <thead>
                                    <tr>

                                        <th class="tabletextalign">Job Title</th>
                                        <th class="tabletextalign">Job Description</th>
                                        <th class="tabletextalign">Experience</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>Senior Software Engineer</td>
                                        <td>

                                            <ul style="text-align:left">
                                                <li style="margin-left: 20%">- Good understanding of OOPS concepts</li>
                                                <div id="demo" class="collapse">
                                                    <ul style="text-align:left">
                                                        <li style="margin-left: 20%">- Understanding of concepts in .Net framework</li>
                                                        <li style="margin-left: 20%">- Strong in C#.Net,ASP.Net</li>
                                                        <li style="margin-left: 20%">- Strong in Databases like Microsoft SQL Server</li>
                                                        <li style="margin-left: 20%">- Knowledge in JavaScript,Jquery(Optional)</li>
                                                        <br>
                                                        <li style="text-align:center" style="margin-left: 30%"><a href="http://www.aventits.com/aventblog/jobs/senior-software-engineer/"><button type="button" class="btn btn-primary">Apply Now</button></a></li>
                                                    </ul>
                                                </div>

                                        </td>
                                        <td>3 - 6 years</td>
                                        <td><a href="#"><button data-toggle="collapse" data-target="#demo" class="btn btn-primary" alt="Read More">Read More</button></a></td>
                                    </tr>
                                    <tr>

                                        <td>Software Engineer</td>
                                        <td>
                                            <ul style="text-align:left">
                                                <li style="margin-left: 20%">- Good in Databases like Microsoft SQL Server</li>
                                                <div id="demo1" class="collapse">
                                                    <ul style="text-align:left">
                                                        <li style="margin-left: 20%">- Good understanding of OOPS concepts</li>
                                                        <li style="margin-left: 20%">- Good communication skills</li>
                                                        <li style="margin-left: 20%">- Minimum 1 years experience in ASP.Net.</li>
                                                        <li style="margin-left: 20%">- Good in C#.Net,ASP.Net</li>
                                                        <li style="margin-left: 20%">- Knowledge in JavaScript,Jquery(Optional)</li>
                                                        <br>
                                                        <li style="text-align:center"><a href="http://www.aventits.com/aventblog/jobs/software-engineer/"><button type="button" class="btn btn-primary">Apply Now</button></a></li>
                                                    </ul>
                                                </div>
                                        </td>
                                        <td>1 - 3 years</td>
                                        <td><a href="#"><button data-toggle="collapse" data-target="#demo1" class="btn btn-primary" alt="Read More">Read More</button></a></td>
                                    </tr>
                                    <tr>

                                        <td>CMS & EPI Server Developer</td>
                                        <td>
                                            <ul style="text-align:left">
                                                <li style="margin-left: 20%">- Excellent CMS experience</li>
                                                <div id="demo2" class="collapse">
                                                    <ul style="text-align:left">
                                                        <li style="margin-left: 20%">- EPI Server Commerce experience</li>
                                                        <li style="margin-left: 20%">- Web CMS expertise</li>
                                                        <li style="margin-left: 20%">- Knowledge in C#.Net and ASP.Net</li>
                                                        <li style="margin-left: 20%">- Knowledge in JavaScript,Jquery(Optional)</li>
                                                        <br>
                                                        <li style="text-align:center"><a href=" http//www.aventits.com/aventblog/jobs/cms-epi-server-developer/"><button type="button" class="btn btn-primary">Apply Now</button></a></li>
                                                    </ul>
                                                </div>
                                        </td>
                                        <td>2 - 3 years</td>
                                        <td><a href="#"><button data-toggle="collapse" data-target="#demo2" class="btn btn-primary" alt="Read More">Read More</button></a></td>
                                    </tr>
                                    <tr>

                                        <td>Websphere Portal Developer</td>
                                        <td>
                                            <ul style="text-align:left">
                                                <li style="margin-left: 20%">-Strong in Hibernate & Spring framework</li>
                                                <div id="demo3" class="collapse">
                                                    <ul style="text-align:left">
                                                        <li style="margin-left: 20%">- Strong WebSphere Portal Developer</li>
                                                        <li style="margin-left: 20%">- Java/J2EE back end developer</li>
                                                        <li style="margin-left: 20%">- Strong background in JSR286 </li>
                                                        <li style="margin-left: 20%">- Strong in Databases. </li>
                                                        <li style="margin-left: 20%">- Knowledge in C#,ASP.Net (Optional)</li>
                                                        <br>
                                                        <li style="text-align:center"><a href="http://www.aventits.com/aventblog/jobs/websphere-portal-developer/ ‎"><button type="button" class="btn btn-primary">Apply Now</button></a></li>
                                                    </ul>
                                                </div>
                                        </td>
                                        <td>4 - 6 years</td>
                                        <td><a href="#"><button data-toggle="collapse" data-target="#demo3" class="btn btn-primary" alt="Read More">Read More</button></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
            <!--</br>
            <div class="col-lg-12">
            <div class="well">Email Us : hire@aventits.com</div>
              </div>-->
        </div>
        </br>


        <div class="">
            <!--<div class="divider-2"><span></span></div>-->
            <div class="">
                <br>
                <div class="FooterShadow">

                </div>
                <footer class="site-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-12 fbox">
                                <h4 style="padding-right: 50px;text-shadow:none;">Follow us on</h4>
                                <ul style="padding-left: 20px" class="list-inline">
                                    <li><a href="https://www.facebook.com/aventits/"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/avent-it-solutions-pvt.-ltd."><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12 fbox">
                                <h4 style="text-shadow:none;">LATEST UPDATES</h4>

                                <ul class="big list-inline">
                                    <marquee scrollamount="1" height="81" onmouseover="this.stop()" onmouseout="this.start()" scrolldelay="50" direction="up">
                                        <div class="list-inline">
                                            <li></li><li class="list-inline-item"><span class="badge badge-secondary">Mar 09</span></li>
                                            <li class="list-inline-item" style="text-decoration:none;"><a style="text-decoration: none;" title="">Avent celebrating 3rd aniversary</a></li>

                                        </div>

                                        <p></p>

                                        <div class="list-inline ">

                                            <li></li><li class="list-inline-item"><span class="badge badge-secondary">Mar 06</span></li>
                                            <li style="text-decoration:none;"><a style="text-decoration: none;" title="">Ready to host e-procuremnt project</a></li>

                                        </div>

                                        <p></p>

                                        <div class="list-inline ">
                                            <li></li><li class="list-inline-item"><span class="badge badge-secondary">Feb 23</span></li>
                                            <a style="text-decoration: none;" title="">Leave management app integration is in process</a>
                                        </div>
                                    </marquee>




                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h4 style="text-shadow:none;">Blog Posts</h4>
                                <ul class="big">
                                    <li><a href="http://www.aventits.com/aventblog/2018/03/05/sql-server-analysis-services-ssas/" title=""># SQL Server Analysis Services</a></li>
                                    <li><a href="http://www.aventits.com/aventblog/?s=email+sending" title=""># Email sending with at attachment in ASP.NET MVC</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12 ">
                                <h4 style="text-shadow:none;">Contact Us</h4>
                                <li><a href="tel:+91-800-812-5500"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +91-800-812-5500</a></li>
                                <li><a href="sales@aventits.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> sales@aventits.com</a></li>
                            </div>
                        </div>
                    </div>


                </footer>
                <div class="copyRights">
                    <a class="col-sm-3"> Copyright &copy; 2017 Avent IT Solutions Pvt.Ltd. </a>
                </div>
                <div class="buttonlinks">
                    <!--<a class="col-sm-3"> Copyright &copy; 2017 Avent IT Solutions Pvt.Ltd. </a>-->
                    <div class="col-sm-6">
                        <a class="buttonlinks" href="Disclaimer.php">Disclaimer </a><a class="copyRights">|</a>
                        <a class="buttonlinks" href="Equal Opportunity.php">Equal Opportunity </a><a class="copyRights">|</a>
                        <a class="buttonlinks" href="Non-Solicitation.php">Non-Solicitation </a><a class="copyRights">|</a>
                        <a class="buttonlinks" href="Privacy Statement.php">Privacy Statement </a><a class="copyRights">|</a>
                        <a class="buttonlinks" href="Terms of Use.php">Terms of Use </a>
                    </div>
                    <a style="font-size:24px" href="https://www.facebook.com/aventits/"></a>&nbsp;&nbsp;
                    <a style="font-size:24px" href="https://www.linkedin.com/company/avent-it-solutions-pvt.-ltd."></a>&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <!-- Javascript -->
        <script src="~/assets/js/jquery-1.11.1.min.js"></script>
        <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/assets/js/jquery.backstretch.min.js"></script>
        <script src="~/assets/js/wow.min.js"></script>
        <script src="~/assets/js/retina-1.1.0.min.js"></script>
        <script src="~/assets/js/waypoints.min.js"></script>
        <script src="~/assets/js/scripts.js"></script>

        <!--[if lt IE 10]>
            <script src="~/assets/js/placeholder.js"></script>
        <![endif]-->
</body>
<script>
    /**
*   I don't recommend using this plugin on large tables, I just wrote it to make the demo useable. It will work fine for smaller tables
*   but will likely encounter performance issues on larger tables.
*
*		<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
*		$(input-element).filterTable()
*
*	The important attributes are 'data-action="filter"' and 'data-filters="#table-selector"'
*/
(function(){
    'use strict';
	var $ = jQuery;
	$.fn.extend({
		filterTable: function(){
			return this.each(function(){
				$(this).on('keyup', function(e){
					$('.filterTable_no_results').remove();
					var $this = $(this),
                        search = $this.val().toLowerCase(),
                        target = $this.attr('data-filters'),
                        $target = $(target),
                        $rows = $target.find('tbody tr');

					if(search == '') {
						$rows.show();
					} else {
						$rows.each(function(){
							var $this = $(this);
							$this.text().toLowerCase().indexOf(search) === -1 ? $this.hide() : $this.show();
						})
						if($target.find('tbody tr:visible').size() === 0) {
							var col_count = $target.find('tr').first().find('td').size();
							var no_results = $('<tr class="filterTable_no_results"><td colspan="'+col_count+'">No results found</td></tr>')
							$target.find('tbody').append(no_results);
						}
					}
				});
			});
		}
	});
	$('[data-action="filter"]').filterTable();
})(jQuery);

$(function(){
    // attach table filter plugin to inputs
	$('[data-action="filter"]').filterTable();

	$('.container1').on('click', '.panel-heading span.filter', function(e){
		var $this = $(this),
			$panel = $this.parents('.panel');

		$panel.find('.panel-body').slideToggle();
		if($this.css('display') != 'none') {
			$panel.find('.panel-body input').focus();
		}
	});
	$('[data-toggle="tooltip"]').tooltip();
})
</script>
<style>
        .FooterShadow {
    
 
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  height: 20px;
}


    /* Footer */
footer.site-footer {background: #e6e6e6;padding: 20px 0 0;float: left;width: 100%;}
footer.site-footer h4 {font-size: 17px;font-weight: 500;}
footer.site-footer ul {padding-left: 0;margin-bottom: 20px;list-style: none;}
footer.site-footer ul a {color: #666;font-size: 13px;}
footer.site-footer p {font-size: 13px;}
footer.site-footer p a {color: #666;}
p.text {color: #666;}
#copyright {background: #404040;color: #ccc;padding: 15px 0;font-size: 12px;margin-top: 20px;}
#copyright p, #copyright ul {margin: 0;float: left;font-size: 12px;}
#copyright a {color: #fff;font-size: 12px;}
.site-footer li a:hover {color:#005FA6;}
.site-footer li a:link {
    text-decoration: underline;
}
footer.site-footer li {
        line-height:25px;
    }
    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading div {
        margin-top: -18px;
        font-size: 15px;
    }

        .panel-heading div span {
            margin-left: 5px;
        }

    .panel-body {
        display: none;
    }


    a.button {
        color: rgba(30, 22, 54, 0.6);
        box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    }

        a.button:hover {
            color: rgba(255, 255, 255, 0.85);
            box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
        }

    a.button2 {
        color: rgba(30, 22, 54, 0.6);
        box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    }

        a.button2:hover {
            color: rgba(255, 255, 255, 0.85);
            box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
        }
    /*Careers table styles*/

    .divider_row {
        border-bottom: 1px solid #aaa;
        margin-bottom: 10px;
    }

    .panel-body {
        padding-right: 2px;
    }

    .even_tab .divider_row:last-child {
        border-bottom: none;
    }

    .even_tab {
        padding-left: 50px;
    }
    /*End careers table styles*/
</style>


    </body>
</html>

