
@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}

<html>
@*<div class="top">
    <a href="#" class=""><img src="assets/ico/top.png" onclick="topFunction()" title="Top" id="myBtn" alt="" data-at2x="assets/ico/top.png"></a>
</div>*@
    <body>
        <div class="top-content">


            <div class="container dad">
                <div class="son-1">
                    <img src="~/assets/img/backgrounds/software.jpg">
                </div>
                <p class="son-text col-md-6"><br /><br />Services</p>
            </div>
        </div>
        </br>
        <div class="span7">
            <div class="widget stacked widget-table action-table">

                <div class="widget-header">
                    <i class="icon-th-list"></i>
                </div> <!-- /widget-header -->

                <div class="widget-content table-responsive">

                    <table class="table table-striped table-bordered">
                        <thead class="panel-heading">
                            <tr>
                                <th>Services Offered</th>
                                <th>Revenue & Tax</th>
                                <th>Compliance & Audit</th>
                                <th>CMS & Web CMS</th>
                                <th>Telecom & Travel</th>
                                <th>Banking & Finance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Designing & Architecting Solutions</td>
                                <td><img src="~/assets/ico/bluetick.jpg"></td>
                                <td class="td-actions">
                                    <img src="~/assets/ico/bluetick.jpg">
                                </td>
                                <td></td>
                                <td><img src="~/assets/ico/bluetick.jpg"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Product & Solution Development</td>
                                <td><img src="~/assets/ico/bluetick.jpg"></td>
                                <td class="td-actions">
                                    <img src="~/assets/ico/bluetick.jpg">
                                </td>
                                <td><img src="~/assets/ico/bluetick.jpg"></td>
                                <td><img src="~/assets/ico/bluetick.jpg"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>QA & Testing Services Tools</td>
                                <td><img src="~/assets/ico/bluetick.jpg"></td>
                                <td class="td-actions">
                                    <img src="~/assets/ico/bluetick.jpg">
                                </td>
                                <td></td>
                                <td><img src="~/assets/ico/bluetick.jpg"></td>
                                <td><img src="~/assets/ico/bluetick.jpg"></td>
                            </tr>
                            <tr>
                                <td>Product Maintenance & Support</td>
                                <td><img src="~/assets/ico/bluetick.jpg"></td>
                                <td class="td-actions">
                                    <img src="~/assets/ico/bluetick.jpg">
                                </td>
                                <td><img src="~/assets/ico/bluetick.jpg"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>T&M, FP, Risk Reward Models</td>
                                <td><img src="~/assets/ico/bluetick.jpg"></td>
                                <td class="td-actions">
                                    <img src="~/assets/ico/bluetick.jpg">
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div> <!-- /widget-content -->

            </div> <!-- /widget -->
        </div>


        <!--Table Ending-->
        <div class="">
            <!--<div class="divider-2"><span></span></div>-->
            <div class="">
                <br>
                <div class="FooterShadow">

                </div>
                <footer class="site-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-12 fbox">
                                <h4 style="padding-right: 50px;text-shadow:none;">Follow us on</h4>
                                <ul style="padding-left: 20px" class="list-inline">
                                    <li><a href="https://www.facebook.com/aventits/"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/avent-it-solutions-pvt.-ltd."><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12 fbox">
                                <h4 style="text-shadow:none;">LATEST UPDATES</h4>

                                <ul class="big list-inline">
                                    <marquee scrollamount="1" height="81" onmouseover="this.stop()" onmouseout="this.start()" scrolldelay="50" direction="up">
                                        <div class="list-inline">
                                            <li></li><li class="list-inline-item"><span class="badge badge-secondary">Mar 09</span></li>
                                            <li class="list-inline-item" style="text-decoration:none;"><a style="text-decoration: none;" title="">Avent celebrating 3rd aniversary</a></li>

                                        </div>

                                        <p></p>

                                        <div class="list-inline ">

                                            <li></li><li class="list-inline-item"><span class="badge badge-secondary">Mar 06</span></li>
                                            <li style="text-decoration:none;"><a style="text-decoration: none;" title="">Ready to host e-procuremnt project</a></li>

                                        </div>

                                        <p></p>

                                        <div class="list-inline ">
                                            <li></li><li class="list-inline-item"><span class="badge badge-secondary">Feb 23</span></li>
                                            <a style="text-decoration: none;" title="">Leave management app integration is in process</a>
                                        </div>
                                    </marquee>




                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h4 style="text-shadow:none;">Blog Posts</h4>
                                <ul class="big">
                                    <li><a href="http://www.aventits.com/aventblog/2018/03/05/sql-server-analysis-services-ssas/" title=""># SQL Server Analysis Services</a></li>
                                    <li><a href="http://www.aventits.com/aventblog/?s=email+sending" title=""># Email sending with at attachment in ASP.NET MVC</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12 ">
                                <h4 style="text-shadow:none;">Contact Us</h4>
                                <li><a href="tel:+91-800-812-5500"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +91-800-812-5500</a></li>
                                <li><a href="sales@aventits.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> sales@aventits.com</a></li>
                            </div>
                        </div>
                    </div>


                </footer>
                <div class="copyRights">
                    <a class="col-sm-3"> Copyright &copy; 2017 Avent IT Solutions Pvt.Ltd. </a>
                </div>
                <div class="buttonlinks">
                    <!--<a class="col-sm-3"> Copyright &copy; 2017 Avent IT Solutions Pvt.Ltd. </a>-->
                    <div class="col-sm-6">
                        <a class="buttonlinks" href="Disclaimer.php">Disclaimer </a><a class="copyRights">|</a>
                        <a class="buttonlinks" href="Equal Opportunity.php">Equal Opportunity </a><a class="copyRights">|</a>
                        <a class="buttonlinks" href="Non-Solicitation.php">Non-Solicitation </a><a class="copyRights">|</a>
                        <a class="buttonlinks" href="Privacy Statement.php">Privacy Statement </a><a class="copyRights">|</a>
                        <a class="buttonlinks" href="Terms of Use.php">Terms of Use </a>
                    </div>
                    <a style="font-size:24px" href="https://www.facebook.com/aventits/"></a>&nbsp;&nbsp;
                    <a style="font-size:24px" href="https://www.linkedin.com/company/avent-it-solutions-pvt.-ltd."></a>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </body>
</html>
<script src="~/assets/js/jquery-1.11.1.min.js"></script>
<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery.backstretch.min.js"></script>
<script src="~/assets/js/wow.min.js"></script>
<script src="~/assets/js/retina-1.1.0.min.js"></script>
<script src="~/assets/js/waypoints.min.js"></script>
<script src="~/assets/js/scripts.js"></script>
<style>
         .FooterShadow {
    
 
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  height: 20px;
}


    /* Footer */
footer.site-footer {background: #e6e6e6;padding: 20px 0 0;float: left;width: 100%;}
footer.site-footer h4 {font-size: 17px;font-weight: 500;}
footer.site-footer ul {padding-left: 0;margin-bottom: 20px;list-style: none;}
footer.site-footer ul a {color: #666;font-size: 13px;}
footer.site-footer p {font-size: 13px;}
footer.site-footer p a {color: #666;}
p.text {color: #666;}
#copyright {background: #404040;color: #ccc;padding: 15px 0;font-size: 12px;margin-top: 20px;}
#copyright p, #copyright ul {margin: 0;float: left;font-size: 12px;}
#copyright a {color: #fff;font-size: 12px;}
.site-footer li a:hover {color:#005FA6;}
.site-footer li a:link {
    text-decoration: underline;
}
footer.site-footer li {
        line-height:25px;
    }
</style>

